In [1]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: scipy>=1.6.0 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn) (1.8.1)
Requirement already satisfied: joblib>=1.2.0 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn) (3.1.0)

In [2]:
!pip install --upgrade tpot

Requirement already satisfied: tpot in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (0.12.2)
Requirement already satisfied: numpy>=1.16.3 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.23.4)
Requirement already satisfied: scipy>=1.3.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.8.1)
Requirement already satisfied: scikit-learn>=1.4.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.4.1.post1)
Requirement already satisfied: deap>=1.2 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.3.3)
Requirement already satisfied: update-checker>=0.16 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (0.18.0)
Requirement already satisfied: tqdm>=4.36.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (4.64.1)
Requirement already satisfied: stopit>=1.1.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.1.2)
Requirement already satisfied: pandas>=0.24.2 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.4.4)
Requirement already satisfied: joblib>=0.13.2 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.3.2)
Requirement already satisfied: xgboost>=1.1.0 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from tpot) (1.6.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from pandas>=0.24.2->tpot) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn>=1.4.1->tpot) (3.1.0)
Requirement already satisfied: requests>=2.3.0 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from update-checker>=0.16->tpot) (2.28.1)
Requirement already satisfied: six>=1.5 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /home/safae/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.9.24)

In [3]:
import pandas as pd
from surprise import Reader, SVD, Dataset, accuracy
from surprise.model_selection import GridSearchCV, train_test_split, cross_validate
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
import re
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler,OneHotEncoder

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from scipy.sparse import hstack

In [ ]:
sales_data = pd.read_csv('E-commerece_sales_data_2024.csv')
customer_data = pd.read_csv('customer_details.csv')
product_data = pd.read_csv('product_details.csv')

In [ ]:
merged_data = pd.merge(sales_data, customer_data, left_on='user id', right_on='Customer ID', how='left')
merged_data = pd.merge(merged_data, product_data, left_on='product id', right_on='Uniqe Id', how='left')

In [ ]:
merged_data

In [ ]:
merged_data.columns

In [8]:
df1 = merged_data[['Uniqe Id', 'Location', 'Age', 'Gender', 'Product Name','Selling Price','About Product', 'Technical Details', 'Category_y','Interaction type','Time stamp', 'user id']]

In [9]:
df1

,Uniqe Id,Location,Age,Gender,Product Name,Selling Price,About Product,Technical Details,Category_y,Interaction type,Time stamp,user id
0,4c69b61db1fc16e7013b43fc926e502d,Kentucky,55.0,Male,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",$237.68,Make sure this fits by entering your model num...,NaN,Sports & Outdoors | Outdoor Recreation | Skate...,purchase,10/10/2023 8:00,1.0
1,66d49bbed043f5be260fa9f7fbff5957,Maine,19.0,Male,"Electronic Snap Circuits Mini Kits Classpack, ...",$99.95,Make sure this fits by entering your model num...,The snap circuits mini kits classpack provides...,Toys & Games | Learning & Education | Science ...,view,11/10/2023 8:00,2.0
2,2c55cae269aebf53838484b0d7dd931a,Massachusetts,50.0,Male,3Doodler Create Flexy 3D Printing Filament Ref...,$34.99,Make sure this fits by entering your model num...,show up to 2 reviews by default No longer are ...,Toys & Games | Arts & Crafts | Craft Kits,like,12/10/2023 8:00,3.0
3,18018b6bc416dab347b1b7db79994afa,Rhode Island,21.0,Male,Guillow Airplane Design Studio with Travel Cas...,$28.91,Make 8 different Planes at one time. | Experim...,Go to your orders and start the return Select ...,Toys & Games | Hobbies | Models & Model Kits |...,view,13/10/2023 8:00,4.0
4,e04b990e95bf73bbe6a3fa09785d7cd0,Oregon,45.0,Male,Woodstock- Collage 500 pc Puzzle,$17.49,Make sure this fits by entering your model num...,show up to 2 reviews by default 100% Officiall...,Toys & Games | Puzzles | Jigsaw Puzzles,like,14/10/2023 8:00,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3289     True
3290     True
3291     True
3292     True
3293     True
Length: 3294, dtype: bool

In [11]:
df1.drop_duplicates()

,Uniqe Id,Location,Age,Gender,Product Name,Selling Price,About Product,Technical Details,Category_y,Interaction type,Time stamp,user id
0,4c69b61db1fc16e7013b43fc926e502d,Kentucky,55.0,Male,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",$237.68,Make sure this fits by entering your model num...,NaN,Sports & Outdoors | Outdoor Recreation | Skate...,purchase,10/10/2023 8:00,1.0
1,66d49bbed043f5be260fa9f7fbff5957,Maine,19.0,Male,"Electronic Snap Circuits Mini Kits Classpack, ...",$99.95,Make sure this fits by entering your model num...,The snap circuits mini kits classpack provides...,Toys & Games | Learning & Education | Science ...,view,11/10/2023 8:00,2.0
2,2c55cae269aebf53838484b0d7dd931a,Massachusetts,50.0,Male,3Doodler Create Flexy 3D Printing Filament Ref...,$34.99,Make sure this fits by entering your model num...,show up to 2 reviews by default No longer are ...,Toys & Games | Arts & Crafts | Craft Kits,like,12/10/2023 8:00,3.0
3,18018b6bc416dab347b1b7db79994afa,Rhode Island,21.0,Male,Guillow Airplane Design Studio with Travel Cas...,$28.91,Make 8 different Planes at one time. | Experim...,Go to your orders and start the return Select ...,Toys & Games | Hobbies | Models & Model Kits |...,view,13/10/2023 8:00,4.0
4,e04b990e95bf73bbe6a3fa09785d7cd0,Oregon,45.0,Male,Woodstock- Collage 500 pc Puzzle,$17.49,Make sure this fits by entering your model num...,show up to 2 reviews by default 100% Officiall...,Toys & Games | Puzzles | Jigsaw Puzzles,like,14/10/2023 8:00,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,82318e8acf79bbeb3cf685a2732fb630,Virginia,29.0,Female,Steiff Baby Teddy & Me Teddy Bear Boy with Paj...,$45.95,Make sure this fits by entering your model num...,Go to your orders and start the return Select ...,Toys & Games | Stuffed Animals & Plush Toys | ...,view,16/12/2023 8:00,2996.0
2996,19d150365d798db47cccf1622b6ad754,Utah,70.0,Female,uxcell 1500 A12121200ux0003-10000RPM DC3-12V H...,$5.33,NaN,NaN,Toys & Games | Hobbies | Remote & App Controll...,purchase,17/12/2023 8:00,2997.0
2997,136c0aff3ab56bd3d138775fe90ef970,Idaho,41.0,Female,Zvezda 5023 - 1/72 German King Tiger Ausf B He...,$14.90,Make sure this fits by entering your model num...,Go to your orders and start the return Select ...,Toys & Games | Hobbies | Models & Model Kits |...,view,18/12/2023 8:00,2998.0
2998,a2c6dd69f022a658c5bcc2b3b52970f2,Alaska,31.0,Female,DC Comics Shazam! Eugene Action Figure,$9.44,Make sure this fits by entering your model num...,Style:Eugene show up to 2 reviews by default R...,Toys & Games | Toy Figures & Playsets | Action...,like,19/12/2023 8:00,2999.0
2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df1.isnull().sum().sort_values(ascending=False)

Category_y           570
Technical Details    506
Interaction type     423
About Product        357
Selling Price        300
Uniqe Id             295
Location             295
Age                  295
Gender               295
Product Name         295
Time stamp           295
user id              295
dtype: int64

In [31]:
df1.tail(296)

,Uniqe Id,Location,Age,Gender,Product Name,Selling Price,About Product,Technical Details,Category_y,Interaction type,Time stamp,user id
2998,a2c6dd69f022a658c5bcc2b3b52970f2,Alaska,31.0,Female,DC Comics Shazam! Eugene Action Figure,$9.44,Make sure this fits by entering your model num...,Style:Eugene show up to 2 reviews by default R...,Toys & Games | Toy Figures & Playsets | Action...,like,19/12/2023 8:00,2999.0
2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
columns_to_fill = ['Uniqe Id','Location','Age','Gender','Product Name','Selling Price','About Product','Technical Details','Category_y','Interaction type','Time stamp', 'user id']

df1[columns_to_fill] = df1[columns_to_fill].fillna(df1[columns_to_fill].mode().iloc[0])

In [ ]:
df1.isnull().sum().sort_values(ascending=False)

In [ ]:
df1.tail()

In [ ]:
df1['Product_Description'] = df1['About Product'] + ' ' + df1['Technical Details'] + ' ' + df1['Category_y']

In [ ]:
df1[['Date', 'Time']] = df1['Time stamp'].str.split(' ', expand=True)
df1[['Date', 'Time']]

In [ ]:
df1 = df1.drop(columns = ['Time stamp'])

In [ ]:
df1

In [ ]:
# def clean_text(text):
#     # Remove strange characters
#     text = re.sub(r'[^a-zA-Z0-9\s-]', '', text)
#     # Remove extra spaces and dashes
#     text = re.sub(r'\s+', ' ', text)
#     text = re.sub(r'-+', '-', text)
#     # Remove leading and trailing spaces
#     text = text.strip()
#     return text
# columns_to_clean = ['Product_Description', 'Gender', 'Location', 'Product Name', 'Interaction type', 'Selling Price']
# for column in columns_to_clean:
#     df1[column] = df1[column].apply(clean_text)

In [ ]:
def clean_text(text):
    # Remove strange characters except for decimal point
    text = re.sub(r'[^a-zA-Z0-9\s\-.]', '', text)
    # Remove extra spaces and dashes
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r'-+', '-', text)
    # Remove leading and trailing spaces
    text = text.strip()
    return text

columns_to_clean = ['Product_Description', 'Gender', 'Location', 'Product Name', 'Interaction type', 'Selling Price']

for column in columns_to_clean:
    df1[column] = df1[column].apply(clean_text)

In [ ]:
df1

In [ ]:
#df1['Selling Price'] = df1['Selling Price'].apply(lambda x: (sum(map(float, x.split(' - ')))/2) if '-' in x else float(x.replace('$', '')))

In [ ]:
#df1['Selling Price'] = df1['Selling Price'].apply(lambda x: float(x.split(' - ')[0]) if '-' in x else float(x))

In [ ]:
##### df1['Selling Price'] = df1['Selling Price'].str.replace('$', '')
#df1['Selling Price']

In [ ]:
df2 = df1[['Location', 'Age', 'Gender', 'Product Name','Interaction type', 'Product_Description', 'Selling Price']]
df2

In [ ]:
df2.info()

In [ ]:
# Step 1: Remove strange characters and spaces
def clean_price(price):
    # Check if the value is NaN
    if pd.isna(price):
        return np.nan
    # Remove non-numeric characters and spaces
    price = re.sub(r'[^0-9.]', '', str(price))
    return price

# Clean 'Selling Price' column
df2['Selling Price'] = df2['Selling Price'].apply(clean_price)

# Step 2: Convert to numeric
df2['Selling Price'] = pd.to_numeric(df2['Selling Price'], errors='coerce')  # 'coerce' to handle any conversion errors

In [ ]:
df2.info()

In [ ]:
import numpy as np

# Calculate quartiles
Q1 = np.percentile(df2['Selling Price'], 25)
Q3 = np.percentile(df2['Selling Price'], 75)

# Calculate IQR
IQR = Q3 - Q1

# Define threshold for outliers
threshold = 1.5 * IQR

# Identify outliers
outliers = df2['Selling Price'][(df2['Selling Price'] < Q1 - threshold) | (df2['Selling Price'] > Q3 + threshold)]

print("Outliers:", outliers)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Splitting data into features and target
X = df2.drop(columns='Interaction type')
y = df2['Interaction type']

# Label encode the target variable
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Splitting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.3, random_state=42)

# Defining preprocessing for numerical and categorical features
numeric_features = ['Age', 'Selling Price']
categorical_features = ['Gender', 'Location', 'Product Name']
text_feature = 'Product_Description'  # Note this is now a single string, not a list

# Preprocessing for numerical features (Age and Selling Price)
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Preprocessing for categorical features (Gender, Location, Category_y, Product Name)
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Define the ColumnTransformer without the text transformation
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Extract text feature for TF-IDF transformation
text_data_train = X_train[text_feature]
text_data_test = X_test[text_feature]  # Fix here, use X_test for text data

# Apply TF-IDF Vectorizer to text data
tfidf_transformer = TfidfVectorizer()
text_data_train_tfidf = tfidf_transformer.fit_transform(text_data_train)
text_data_test_tfidf = tfidf_transformer.transform(text_data_test)

# Preprocess the non-text features
X_train_preprocessed = preprocessor.fit_transform(X_train.drop(columns=text_feature))
X_test_preprocessed = preprocessor.transform(X_test.drop(columns=text_feature))

# Concatenate the TF-IDF vectorized text feature with the other preprocessed features
X_train_final = hstack([X_train_preprocessed, text_data_train_tfidf])
X_test_final = hstack([X_test_preprocessed, text_data_test_tfidf])

In [ ]:
X_encoded = pd.concat([pd.DataFrame(X_train_final.toarray(), columns=numeric_features + one_hot_feature_names), 
                       tfidf_df], axis=1)

# Concatenate the target variable (encoded) with the features
encoded_df = pd.concat([X_encoded, pd.Series(y_train, name='Interaction type')], axis=1)

# Calculate the correlations
correlation_matrix = encoded_df.corr()

In [ ]:
model1=RandomForestClassifier()
model2=GradientBoostingClassifier()
model3=SVC()
model4=KNeighborsClassifier()
model5=MLPClassifier()

grid1={ 'n_estimators': [50, 100, 200],
        'max_depth': [None, 5, 10]}

grid2= {
        'clf__n_estimators': [50, 100, 200],
        'clf__max_depth': [None, 5, 10]
    }

grid3={
        'clf__C': [0.1, 1, 10],
        'clf__kernel': ['linear', 'rbf']}

grid4= {
        'clf__n_neighbors': [3, 5, 10],
        'clf__weights': ['uniform', 'distance']}
grid5= {
        'clf__hidden_layer_sizes': [(100,), (100, 50), (200, 100)],
        'clf__activation': ['relu', 'tanh']
    }

search = GridSearchCV(
    model1,
    grid1, 
    scoring = 'accuracy',
    cv = 5,
    n_jobs=-1 # parallelize computation
) 

search.fit(X_train_final, y_train);
# Best score


# Best Params
search.best_params_ ,search.best_estimator_ , search.best_score_

# Best estimator

In [ ]:
search2 = GridSearchCV(
    model2,
    grid2, 
    scoring = 'accuracy',
    cv = 5,
    n_jobs=-1 # parallelize computation
) 

search.fit(X_train_final, y_train);
# Best score
search.best_score_, search.best_params_, search.best_estimator_

In [ ]:
search3 = GridSearchCV(
    model3,
    grid3, 
    scoring = 'accuracy',
    cv = 5,
    n_jobs=-1 # parallelize computation
) 

search.fit(X_train_final, y_train);
# Best score
search.best_score_, search.best_params_, search.best_estimator_

In [ ]:
search4 = GridSearchCV(
    model4,
    grid4, 
    scoring = 'accuracy',
    cv = 5,
    n_jobs=-1 # parallelize computation
) 

search.fit(X_train_final, y_train);
# Best score
search.best_score_, search.best_params_, search.best_estimator_

In [ ]:
search5 = GridSearchCV(
    model5,
    grid5, 
    scoring = 'accuracy',
    cv = 5,
    n_jobs=-1 # parallelize computation
) 

search.fit(X_train_final, y_train);
# Best score
search.best_score_, search.best_params_, search.best_estimator_

In [ ]:
# models = [
#     ('Random Forest', RandomForestClassifier(), {
#         'clf__n_estimators': [50, 100, 200],
#         'clf__max_depth': [None, 5, 10]
#     }),
#     ('Gradient Boosting', GradientBoostingClassifier(), {
#         'clf__n_estimators': [50, 100, 200],
#         'clf__max_depth': [None, 5, 10]
#     }),
#     ('Support Vector Machine', SVC(), {
#         'clf__C': [0.1, 1, 10],
#         'clf__kernel': ['linear', 'rbf']
#     }),
#     ('K-Nearest Neighbors', KNeighborsClassifier(), {
#         'clf__n_neighbors': [3, 5, 10],
#         'clf__weights': ['uniform', 'distance']
#     }),
#     ('Multi-Layer Perceptron', MLPClassifier(), {
#         'clf__hidden_layer_sizes': [(100,), (100, 50), (200, 100)],
#         'clf__activation': ['relu', 'tanh']
#     })
# ]

In [ ]:
# results = {}
# for model_name, model, param_grid in models:
#     print(f"Performing GridSearchCV for {model_name}...")
#     pipe = Pipeline([
#         ('preprocessor', preprocessor),
#         ('clf', model)
#     ])
#     gs = GridSearchCV(pipe, models, cv=3, scoring='accuracy', n_jobs=-1)
#     gs.fit(X_train_final, y_train)
#     results[model_name] = gs

# # Display results
# for model_name, gs_result in results.items():
#     print(f"Best {model_name} Parameters: {gs_result.best_params_}")
#     print(f"Best {model_name} Mean Accuracy: {gs_result.best_score_}")

In [ ]:
from tpot import TPOTClassifier
tpot = TPOTClassifier(
    generations=5,  # Number of iterations to run the optimization process
    population_size=20,  # Number of individuals to retain in the genetic programming population every generation
    verbosity=2,  # Controls the verbosity of TPOT's output
    scoring='accuracy',  # Evaluation metric
    random_state=42,  # Seed for random number generation
    n_jobs=-1,  # Number of cores to use for optimization (-1 means use all available cores)
    cv=5  # Cross-validation strategy
)

# Fit TPOTClassifier to your data
tpot.fit(X_train_final, y_train)

# Access the best pipeline found by TPOT
best_pipeline = tpot.fitted_pipeline_